## Example

* Explore a real dataset from FIFA using pandas

In [3]:
import pandas as pd
import numpy as np

filename = r'C:\Users\lakes\OneDrive\Documents\Lakeso\fifa_data.csv'
data = pd.read_csv(filename)

In [2]:
data.head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

## Task 1 - 

* List Name, Overall,Potential, Position, of all US players
* Calc. mean Overall Score of US Players at position 'ST'

In [10]:
data['Name'].describe()
data['Overall'].describe()
data['Potential'].describe()
data['Position'].unique()

#CHECK NATIONALITY using unique
data['Nationality'].unique()

array(['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium', 'Croatia',
       'Uruguay', 'Slovenia', 'Poland', 'Germany', 'France', 'England',
       'Italy', 'Egypt', 'Colombia', 'Denmark', 'Gabon', 'Wales',
       'Senegal', 'Costa Rica', 'Slovakia', 'Netherlands',
       'Bosnia Herzegovina', 'Morocco', 'Serbia', 'Algeria', 'Austria',
       'Greece', 'Chile', 'Sweden', 'Korea Republic', 'Finland', 'Guinea',
       'Montenegro', 'Armenia', 'Switzerland', 'Norway', 'Czech Republic',
       'Scotland', 'Ghana', 'Central African Rep.', 'DR Congo',
       'Ivory Coast', 'Russia', 'Ukraine', 'Iceland', 'Mexico', 'Jamaica',
       'Albania', 'Venezuela', 'Japan', 'Turkey', 'Ecuador', 'Paraguay',
       'Mali', 'Nigeria', 'Cameroon', 'Dominican Republic', 'Israel',
       'Kenya', 'Hungary', 'Republic of Ireland', 'Romania',
       'United States', 'Cape Verde', 'Australia', 'Peru', 'Togo',
       'Syria', 'Zimbabwe', 'Angola', 'Burkina Faso', 'Iran', 'Estonia',
       'Tunisia', 'Equatorial Guinea', 'New Zealand', 'FYR Macedonia',
       'United Arab Emirates', 'China PR', 'Guinea Bissau', 'Bulgaria',
       'Kosovo', 'South Africa', 'Madagascar', 'Georgia', 'Tanzania',
       'Gambia', 'Cuba', 'Belarus', 'Uzbekistan', 'Benin', 'Congo',
       'Mozambique', 'Honduras', 'Canada', 'Northern Ireland', 'Cyprus',
       'Saudi Arabia', 'Curacao', 'Moldova', 'Bolivia',
       'Trinidad & Tobago', 'Sierra Leone', 'Zambia', 'Chad',
       'Philippines', 'Haiti', 'Comoros', 'Libya', 'Panama',
       'São Tomé & Príncipe', 'Eritrea', 'Oman', 'Iraq', 'Burundi',
       'Fiji', 'New Caledonia', 'Lithuania', 'Luxembourg', 'Korea DPR',
       'Liechtenstein', 'St Kitts Nevis', 'Latvia', 'Suriname', 'Uganda',
       'El Salvador', 'Bermuda', 'Kuwait', 'Antigua & Barbuda',
       'Thailand', 'Mauritius', 'Guatemala', 'Liberia', 'Kazakhstan',
       'Niger', 'Mauritania', 'Montserrat', 'Namibia', 'Azerbaijan',
       'Guam', 'Faroe Islands', 'India', 'Nicaragua', 'Barbados',
       'Lebanon', 'Palestine', 'Guyana', 'Sudan', 'St Lucia', 'Ethiopia',
       'Puerto Rico', 'Grenada', 'Jordan', 'Rwanda', 'Qatar',
       'Afghanistan', 'Hong Kong', 'Andorra', 'Malta', 'Belize',
       'South Sudan', 'Indonesia', 'Botswana'], dtype=object)

In [11]:
#Difficult to see, so we add sort function

uniqueN = np.sort(data['Nationality'].unique())
print(uniqueN)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Antigua & Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bolivia'
 'Bosnia Herzegovina' 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cameroon' 'Canada' 'Cape Verde' 'Central African Rep.' 'Chad'
 'Chile' 'China PR' 'Colombia' 'Comoros' 'Congo' 'Costa Rica' 'Croatia'
 'Cuba' 'Curacao' 'Cyprus' 'Czech Republic' 'DR Congo' 'Denmark'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'England'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'FYR Macedonia'
 'Faroe Islands' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guam' 'Guatemala' 'Guinea'
 'Guinea Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Israel' 'Italy'
 'Ivory Coast' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Korea DPR'
 'Korea Republic' 'Kosovo' 'Kuwait' 'Latvia' 'Lebanon' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Madagascar' 'Mali' 'Malta'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Montenegro' 'Montserrat'
 'Morocco' 'Mozambique' 'Namibia' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Northern Ireland' 'Norway'
 'Oman' 'Palestine' 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Republic of Ireland' 'Romania' 'Russia'
 'Rwanda' 'Saudi Arabia' 'Scotland' 'Senegal' 'Serbia' 'Sierra Leone'
 'Slovakia' 'Slovenia' 'South Africa' 'South Sudan' 'Spain'
 'St Kitts Nevis' 'St Lucia' 'Sudan' 'Suriname' 'Sweden' 'Switzerland'
 'Syria' 'São Tomé & Príncipe' 'Tanzania' 'Thailand' 'Togo'
 'Trinidad & Tobago' 'Tunisia' 'Turkey' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United States' 'Uruguay' 'Uzbekistan' 'Venezuela'
 'Wales' 'Zambia' 'Zimbabwe']

In [13]:
#Task 1a: filter all United States Player
result1 = data[(data['Nationality']=='United States')]
print(result1)

       Unnamed: 0      ID              Name  Age  \
570           570  227796        C. Pulisic   19
619           619  204082         J. Brooks   25
900           900  177159        F. Johnson   30
984           984  202316       T. Chandler   28
1373         1373  176237       J. Altidore   28
...           ...     ...               ...  ...
17792       17792  243299         M. Nelson   23
17905       17905  242206       J. Caldwell   22
17992       17992  242907       B. Reynolds   17
18016       18016  246020  J. Adebayo-Smith   17
18030       18030  246310         C. Cappis   18

                                                Photo    Nationality  \
570    https://cdn.sofifa.org/players/4/19/227796.png  United States
619    https://cdn.sofifa.org/players/4/19/204082.png  United States
900    https://cdn.sofifa.org/players/4/19/177159.png  United States
984    https://cdn.sofifa.org/players/4/19/202316.png  United States
1373   https://cdn.sofifa.org/players/4/19/176237.png  United States
...                                               ...            ...
17792  https://cdn.sofifa.org/players/4/19/243299.png  United States
17905  https://cdn.sofifa.org/players/4/19/242206.png  United States
17992  https://cdn.sofifa.org/players/4/19/242907.png  United States
18016  https://cdn.sofifa.org/players/4/19/246020.png  United States
18030  https://cdn.sofifa.org/players/4/19/246310.png  United States

                                      Flag  Overall  Potential  \
570    https://cdn.sofifa.org/flags/95.png       79         87
619    https://cdn.sofifa.org/flags/95.png       79         84
900    https://cdn.sofifa.org/flags/95.png       77         77
984    https://cdn.sofifa.org/flags/95.png       77         77
1373   https://cdn.sofifa.org/flags/95.png       76         76
...                                    ...      ...        ...
17792  https://cdn.sofifa.org/flags/95.png       52         58
17905  https://cdn.sofifa.org/flags/95.png       51         63
17992  https://cdn.sofifa.org/flags/95.png       51         73
18016  https://cdn.sofifa.org/flags/95.png       50         68
18030  https://cdn.sofifa.org/flags/95.png       50         64

                           Club  ... Composure Marking StandingTackle  \
570           Borussia Dortmund  ...      67.0    38.0           30.0
619               VfL Wolfsburg  ...      81.0    79.0           81.0
900    Borussia Mönchengladbach  ...      70.0    62.0           75.0
984         Eintracht Frankfurt  ...      71.0    74.0           79.0
1373                 Toronto FC  ...      70.0    15.0           34.0
...                         ...  ...       ...     ...            ...
17792            Houston Dynamo  ...      32.0    18.0           13.0
17905          New York City FC  ...      39.0     5.0           13.0
17992                 FC Dallas  ...      49.0    16.0           22.0
18016              Lincoln City  ...      35.0    19.0           17.0
18030                  Hobro IK  ...      38.0    37.0           40.0

       SlidingTackle GKDiving  GKHandling  GKKicking  GKPositioning  \
570             41.0      8.0        12.0       13.0           16.0
619             76.0      8.0         7.0       10.0            9.0
900             73.0      7.0         7.0       10.0           12.0
984             79.0     12.0         7.0        8.0           11.0
1373            27.0     16.0         9.0       14.0           12.0
...              ...      ...         ...        ...            ...
17792           10.0     48.0        55.0       54.0           50.0
17905           14.0     54.0        47.0       51.0           50.0
17992           21.0     14.0        13.0        9.0            7.0
18016           18.0     10.0         9.0       14.0           13.0
18030           42.0      5.0        13.0       11.0           12.0

      GKReflexes Release Clause
570         14.0         €34.2M
619         10.0         €24.9M
900         15.0         €14.5M
984         12.0         €11.9M
1373        12.0           €12M
...          ...            ...
17792       55.0           €85K
17905       54.0           €85K
17992       13.0          €200K
18016       11.0          €166K
18030        5.0          €113K

[353 rows x 89 columns]

In [18]:
# Task 1b - Filter out US players show only Name, Overall,Potential, Position
result2 = data[(data['Nationality']=='United States')][['Name','Overall','Potential','Position']]
result2

                   Name  Overall  Potential Position
570          C. Pulisic       79         87       RM
619           J. Brooks       79         84      LCB
900          F. Johnson       77         77       LM
984         T. Chandler       77         77       RB
1373        J. Altidore       76         76       ST
...                 ...      ...        ...      ...
17792         M. Nelson       52         58       GK
17905       J. Caldwell       51         63       GK
17992       B. Reynolds       51         73       ST
18016  J. Adebayo-Smith       50         68       ST
18030         C. Cappis       50         64       CM

[353 rows x 4 columns]

In [29]:
#Task 1c - Filter out US player with ST position
result3 = data[(data['Nationality']=='United States') & (data['Position']=='ST')]['Overall'].mean()
print(result3)

result4 = data[(data['Nationality']=='United States') & (data['Position']=='ST')][['Name','Overall','Potential','Position']]

result5 = result4.sort_values(by='Overall')
print(result5)

64.8108108108108
                   Name  Overall  Potential Position
18016  J. Adebayo-Smith       50         68       ST
17992       B. Reynolds       51         73       ST
17697      F. Langsdorf       53         60       ST
17128    R. Lopez-Espin       55         64       ST
15509        M. Steeves       59         66       ST
15265        A. Akinola       60         79       ST
14213        A. Stadler       61         61       ST
14165        N. Jackson       61         70       ST
14163           M. Toye       61         76       ST
13933        S. Adekoya       62         68       ST
12398        B. Vazquez       63         76       ST
12125        E. Hurtado       63         63       ST
12066          B. White       63         69       ST
11941         J. McBean       64         69       ST
11629        J. Sargent       64         84       ST
11607         H. Wright       64         77       ST
11507    B. Jamieson IV       64         74       ST
10829        K. Shelton       65         70       ST
10814       Q. Amarikwa       65         65       ST
10735       J. Ebobisse       65         75       ST
9608            J. Gatt       66         66       ST
8450         P. Mullins       67         69       ST
8299           R. Rubin       67         74       ST
7954            T. Boyd       67         67       ST
7831           L. Silva       67         67       ST
7343      A. Novakovich       68         76       ST
6715           C. Baird       68         77       ST
5967           W. Bruin       69         69       ST
4836         C. Ramirez       70         71       ST
5598          J. Morris       70         77       ST
5482     C. Wondolowski       70         70       ST
5070         T. Bunbury       70         70       ST
3916           D. Dwyer       72         72       ST
3271      A. Jóhannsson       72         72       ST
3210          G. Zardes       73         74       ST
3056            B. Wood       73         76       ST
1373        J. Altidore       76         76       ST

## Task 2

* Create a function that can extract the infor of the players in a given club. 
* The info. should include: 'Name','Jersey Number','Position','Overall','Nationality','Age','Wage','Value','Contract Valid Until'
* use that function to extract the players in FC Barcelona and Real Madrid
* calculate the average score of all positions in these two clubs and put the results into one table, and then compare which team is stronger at which position

In [6]:
""" basic logic - 
def ExtractPlayer(rawdata, club):
    return rawdata[rawdata['Club'] == clubName][['Name','Jersey Number','Position','Overall','Nationality','Age','Wage','Value','Contract Valid Until']]"""

def ExtractPlayers(clubname):
    import pandas as pd
    filename = r'C:\Users\lakes\OneDrive\Documents\Lakeso\fifa_data.csv'
    data = pd.read_csv(filename)
    result = data[data['Club'] == clubname][['Name','Jersey Number','Position','Overall','Nationality','Age','Wage','Value','Contract Valid Until']]
    sort_result = result.sort_values(by='Age')
    return sort_result

ExtractPlayers('FC Barcelona')

,Name,Jersey Number,Position,Overall,Nationality,Age,Wage,Value,Contract Valid Until
6102,Riqui Puig,28.0,CM,69,Spain,18,€24K,€2.1M,2021
10777,Jorge Cuenca,33.0,CB,65,Spain,18,€11K,€850K,2019
8289,Abel Ruiz,29.0,ST,67,Spain,18,€21K,€1.6M,2021
8857,Miranda,27.0,LB,66,Spain,18,€12K,€1.2M,2021
14286,Iñaki Peña,30.0,GK,61,Spain,19,€4K,€450K,2021
8284,Oriol Busquets,35.0,CDM,67,Spain,19,€14K,€1.5M,2021
6000,M. Wagué,37.0,RB,69,Senegal,19,€20K,€1.6M,2023
11300,Guillem Jaime,38.0,RW,64,Spain,19,€13K,€975K,2020
10526,Chumi,36.0,CB,65,Spain,19,€11K,€1M,2020
3684,Aleñá,21.0,CM,72,Spain,20,€58K,€6M,2022
155,O. Dembélé,11.0,RW,83,France,21,€155K,€40M,2022
228,Arthur,8.0,LCM,82,Brazil,21,€125K,€32.5M,2024
236,Malcom,14.0,RW,82,Brazil,21,€140K,€31.5M,2023
12502,Ezkieta,31.0,GK,63,Spain,21,€10K,€525K,2019
1007,Munir,19.0,ST,77,Spain,22,€115K,€12.5M,2019
3118,Sergi Samper,16.0,CDM,73,Spain,23,€69K,€4.8M,2020
239,C. Lenglet,15.0,LCB,82,France,23,€135K,€26M,2023
42,S. Umtiti,23.0,CB,87,France,24,€205K,€57M,2023
324,Nélson Semedo,2.0,RB,81,Portugal,24,€125K,€20M,2022
613,Denis Suárez,6.0,CM,79,Spain,24,€120K,€17.5M,2020
263,Rafinha,12.0,CAM,82,Brazil,25,€165K,€29.5M,2020
32,Coutinho,7.0,LW,88,Brazil,26,€340K,€69.5M,2023
18,M. ter Stegen,22.0,GK,89,Germany,26,€240K,€58M,2022
192,Sergi Roberto,20.0,RB,83,Spain,26,€170K,€26.5M,2022
266,J. Cillessen,1.0,GK,82,Netherlands,29,€135K,€18M,2021
49,Jordi Alba,18.0,LB,87,Spain,29,€250K,€38M,2020
20,Sergio Busquets,5.0,CDM,89,Spain,29,€315K,€51.5M,2023
53,I. Rakitić,4.0,RCM,87,Croatia,30,€260K,€46.5M,2021
96,A. Vidal,8.0,CAM,85,Chile,31,€205K,€26M,2021
54,Piqué,3.0,RCB,87,Spain,31,€240K,€34M,2022
7,L. Suárez,9.0,RS,91,Uruguay,31,€455K,€80M,2021
0,L. Messi,10.0,RF,94,Argentina,31,€565K,€110.5M,2021
1037,T. Vermaelen,3.0,CB,77,Belgium,32,€110K,€5M,2019

In [10]:
import pandas as pd
playersB = ExtractPlayers('FC Barcelona')
playersR = ExtractPlayers('Real Madrid')

scoreB = playersB.groupby('Position').mean()['Overall']
scoreR = playersR.groupby('Position').mean()['Overall']

result1 = pd.merge(scoreB.rename('FC Bar'),scoreR.rename('R Madrid'), how='outer', on='Position')
result1

             FC Bar   R Madrid
Position
CAM       83.500000        NaN
CB        73.500000  73.000000
CDM       76.333333  83.500000
CM        73.333333  69.500000
GK        73.750000  79.250000
LB        76.500000  73.333333
LCB       82.000000        NaN
LCM       82.000000  85.500000
LW        88.000000  76.666667
RB        77.666667  76.000000
RCB       87.000000  88.500000
RCM       87.000000  91.000000
RF        94.000000        NaN
RS        91.000000        NaN
RW        76.333333  84.000000
ST        72.000000  76.400000

In [12]:
result2 = pd.concat([scoreB.rename('FC Barcelona'), scoreR.rename('Real Madrid')], axis=1)
result2

     FC Barcelona  Real Madrid
CAM     83.500000          NaN
CB      73.500000    73.000000
CDM     76.333333    83.500000
CM      73.333333    69.500000
GK      73.750000    79.250000
LB      76.500000    73.333333
LCB     82.000000          NaN
LCM     82.000000    85.500000
LW      88.000000    76.666667
RB      77.666667    76.000000
RCB     87.000000    88.500000
RCM     87.000000    91.000000
RF      94.000000          NaN
RS      91.000000          NaN
RW      76.333333    84.000000
ST      72.000000    76.400000

## From above results, pd.concat and pd.merge can generate the same result

## Task 3
* Rank the Cost Effectiveness of the positions in England, and find the most "cost effective" position. The Cost Effectiveness is defined as wage/overall score. It reflects that the positions with less competitiveness but higher salary.

In [4]:
# Task 3a
# Sort the English Players with overall and wage only

import pandas as pd
import numpy as np

filename = r'C:\Users\lakes\OneDrive\Documents\Lakeso\fifa_data.csv'
data = pd.read_csv(filename)

englandPlayers = data[(data['Nationality']=='England')][['Name','Overall','Wage','Position']]
print(englandPlayers)

                 Name  Overall   Wage Position
16            H. Kane       89  €205K       ST
60        R. Sterling       86  €195K       RW
117           D. Alli       84  €115K      LCM
135         K. Walker       84  €165K       RB
180       J. Pickford       83   €78K       GK
...               ...      ...    ...      ...
18198      J. Livesey       47    €1K       GK
18202    J. Lundstram       47    €1K       CM
18204       B. Worman       47    €1K       ST
18205  D. Walker-Rice       47    €1K       RW
18206       G. Nugent       46    €1K       CM

[1662 rows x 4 columns]

In [21]:
#Task 3b
# Add a column, CosT_Effectiveness, which is Wage / Overall

print(englandPlayers)
#But wage is string. Have to change it to float?

"""In pandas, we can use a function called split, very much like Excel LEFT RIGHT MID, \n
source: https://datatofish.com/left-right-mid-pandas/ \n
"""
df_no_euro = data['Wage'].str.split('€').str[1]
df_no_K = df_no_euro.str.replace('K','000',regex=True)



data['Wage1'] = df_no_K
data['Wage1'] = data['Wage1'].astype(int)
eng_df = data[(data['Nationality']=='England')][['ID','Name','Overall','Position','Wage','Wage1']]
print(eng_df)



#eng_str = d_no_euro.str.replace('K',' ',regex=True)
#eng_str
#eng_int = eng_str

                 Name  Overall   Wage Position
16            H. Kane       89  €205K       ST
60        R. Sterling       86  €195K       RW
117           D. Alli       84  €115K      LCM
135         K. Walker       84  €165K       RB
180       J. Pickford       83   €78K       GK
...               ...      ...    ...      ...
18198      J. Livesey       47    €1K       GK
18202    J. Lundstram       47    €1K       CM
18204       B. Worman       47    €1K       ST
18205  D. Walker-Rice       47    €1K       RW
18206       G. Nugent       46    €1K       CM

[1662 rows x 4 columns]
           ID            Name  Overall Position   Wage   Wage1
16     202126         H. Kane       89       ST  €205K  205000
60     202652     R. Sterling       86       RW  €195K  195000
117    211117         D. Alli       84      LCM  €115K  115000
135    188377       K. Walker       84       RB  €165K  165000
180    204935     J. Pickford       83       GK   €78K   78000
...       ...             ...      ...      ...    ...     ...
18198  242844      J. Livesey       47       GK    €1K    1000
18202  238813    J. Lundstram       47       CM    €1K    1000
18204  241638       B. Worman       47       ST    €1K    1000
18205  246268  D. Walker-Rice       47       RW    €1K    1000
18206  246269       G. Nugent       46       CM    €1K    1000

[1662 rows x 6 columns]

In [20]:
wageMedian = eng_df.groupby('Position').median()['Wage1']
scoreMedian = eng_df.groupby('Position').median()['Overall']

print(wageMedian)
print(scoreMedian)

result3 = pd.concat([wageMedian.rename('Wage'), scoreMedian.rename('Score')], axis=1)

# calculate the cost effective score
result3['CE'] = result3['Wage']/result3['Score']
result3
# normalize it for better look
result3['CE'] = (result3['CE']-result3['CE'].min())/(result3['CE'].max()-result3['CE'].min())

result3.sort_values(by=['CE'], ascending=False)

Position
CAM    4000
CB     3000
CDM    5000
CF     3000
CM     3000
GK     2000
LB     3000
LCB    4000
LCM    3000
LDM    3000
LM     3000
LS     4000
LW     6000
LWB    3000
RB     3000
RCB    4000
RCM    4000
RDM    5000
RM     3000
RS     3000
RW     6000
RWB    2000
ST     3000
Name: Wage1, dtype: int32
Position
CAM    64.0
CB     62.0
CDM    67.0
CF     67.0
CM     62.0
GK     62.0
LB     63.0
LCB    67.0
LCM    66.0
LDM    65.0
LM     64.0
LS     65.5
LW     64.0
LWB    62.5
RB     64.0
RCB    66.0
RCM    66.0
RDM    67.0
RM     63.0
RS     64.5
RW     67.0
RWB    61.0
ST     61.0
Name: Overall, dtype: float64

          Wage  Score        CE
Position
LW        6000   64.0  1.000000
RW        6000   67.0  0.931735
CDM       5000   67.0  0.689014
RDM       5000   67.0  0.689014
CAM       4000   64.0  0.491803
LS        4000   65.5  0.468527
RCM       4000   66.0  0.461003
RCB       4000   66.0  0.461003
LCB       4000   67.0  0.446293
ST        3000   61.0  0.275195
CM        3000   62.0  0.262295
CB        3000   62.0  0.262295
LWB       3000   62.5  0.256000
RM        3000   63.0  0.249805
LB        3000   63.0  0.249805
LM        3000   64.0  0.237705
RB        3000   64.0  0.237705
RS        3000   64.5  0.231796
LDM       3000   65.0  0.225977
LCM       3000   66.0  0.214605
CF        3000   67.0  0.203572
RWB       2000   61.0  0.008600
GK        2000   62.0  0.000000